<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div *ngIf="address" class="col-6 offset-3 bg-light">
          <button [routerLink]="'/address-list'" class="btn btn-info btn-block btn-lg mt-3">
            <i class="fa fa-arrow-circle-left"></i>
          </button>
          <h1 class="h2 text-center text-primary pt-3">{{ title }}</h1>
          <label class="mt-3">{{'#'+ address.id}}</label>
          <form #addressForm="ngForm" (ngSubmit)="onUpdate(addressForm, address)">
            <div class="form-group my-3">
              <label for="zip">Zip</label>
              <input name="zip" [(ngModel)]="address.zip" type="text" class="form-control" pattern="^[1-9]{1}[0-9]{1,5}"
                required>
              <div [hidden]="addressForm.controls.zip?.valid || addressForm.controls.zip.pristine" class="error-message">
                It must be a number with at least 2 digits and no more than 6 digits, the number must not start with a zero.
              </div>
            </div>
            <div class="form-group my-3">
              <label for="country">Country</label>
              <input name="country" [(ngModel)]="address.country" type="text" class="form-control"
                pattern="^[A-Z,ÁÉÍÓÖŐÚÜŰ]{1}[a-z,áéíóöőúüű]{1,}" required>
              <div [hidden]="addressForm.controls.country?.valid || addressForm.controls.country.pristine" class="error-message">
                can only consist of letters, it must start with a capital letter.              </div>
            </div>
            <div class="form-group my-3">
              <label for="city">City</label>
              <input name="city" [(ngModel)]="address.city" type="text" class="form-control"
                pattern="^[A-Z,ÁÉÍÓÖŐÚÜŰ]{1}[A-Z,ÁÉÍÓÖŐÚÜŰ,a-z,áéíóöőúüű ]{1,}" required>
              <div [hidden]="addressForm.controls.city?.valid || addressForm.controls.city.pristine" class="error-message">
                can only consist of letters, it must start with a capital letter.
              </div>
            </div>
            <div class="form-group my-3">
              <label for="street">Street</label>
              <input name="street" [(ngModel)]="address.street" type="text" class="form-control"
                pattern="^([1-9]{1}|[1-9]{1}[0-9]{1,})([ ][A-Z,ÁÉÍÓÖŐÚÜŰ]{1}[a-z,áéíóöőúüű]{1,}){2,}" required>
              <div [hidden]="addressForm.controls.street?.valid || addressForm.controls.street.pristine" class="error-message">
                When filling in the form, please follow the pattern shown here: 123 Abigail Street
              </div>
            </div>
            <div class="form-group my-3">
              <label for="notes">Notes</label>
              <input name="notes" [(ngModel)]="address.notes" type="text" class="form-control" pattern="\D{5,20}"
                required>
              <div [hidden]="addressForm.controls.notes?.valid || addressForm.controls.notes.pristine" class="error-message">
                It must consist of at least 5 and no more than 20 letters.
              </div>
            </div>
            <button [disabled]="addressForm.invalid" type="submit" class="btn btn-primary btn-block btn-lg mt-5">
              <i class="fa fa-save"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>