<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div *ngIf="customer" class="col-6 offset-3 bg-light">
          <button [routerLink]="'/customer-list'" class="btn btn-info btn-block btn-lg mt-3">
            <i class="fa fa-arrow-circle-left"></i>
          </button>
          <h1 class="h2 text-center text-primary pt-3">{{ title }}</h1>
          <label class="mt-3">{{'#'+ customer.id}}</label>
          <form #customerForm="ngForm" (ngSubmit)="onUpdate(customerForm, customer)">
            <div class="form-group my-3">
              <label for="lastName">Last Name</label>
              <input name="lastName" [(ngModel)]="customer.lastName" type="text" class="form-control"
                pattern="^[A-Z,ÁÉÍÓÖŐÚÜŰ]{1}[a-z,áéíóöőúüű]{1,19}" required>
              <div [hidden]="customerForm.controls.lastName?.valid || customerForm.controls.lastName.pristine" class="error-message">
                It must consist of at least 2 and up to 20 letters, starting with a capital letter.
                </div>
            </div>
            <div class="form-group my-3">
              <label for="firstName">First Name</label>
              <input name="firstName" [(ngModel)]="customer.firstName" type="text" class="form-control"
                pattern="^[A-Z,ÁÉÍÓÖŐÚÜŰ]{1}[a-z,áéíóöőúüű]{1,19}" required>
              <div [hidden]="customerForm.controls.firstName?.valid || customerForm.controls.firstName.pristine" class="error-message">
                It must consist of at least 2 and up to 20 letters, starting with a capital letter.
              </div>
            </div>
            <div class="form-group my-3">
              <label for="email">Email</label>
              <input name="email" [(ngModel)]="customer.email" type="text" class="form-control"
                pattern="^.{3,}@{1}.{3,}\.{1}[a-z]{2,}$" required>
              <div [hidden]="customerForm.controls.email?.valid || customerForm.controls.email.pristine" class="error-message">
                It must be at least 10 characters long and include @ and . (Sample: abc@asa.com)
              </div>
            </div>
            <div class="form-group my-3">
              <label for="addressId">Address ID</label>
              <input name="addressId" [(ngModel)]="customer.addressId" type="text" class="form-control"
                pattern="^[1-9][0-9]{0,}" required>
              <div [hidden]="customerForm.controls.addressId?.valid || customerForm.controls.addressId.pristine" class="error-message">
                It can only contain numbers, the number cannot start with zero.
              </div>
            </div>
            <div class="form-group my-3">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" name="active" [(ngModel)]="customer.active" class="custom-control-input"
                  id="active">
                <label class="custom-control-label" for="active">Active</label>
              </div>
            </div>
            <button [disabled]="customerForm.invalid" type="submit" class="btn btn-primary btn-block btn-lg mt-5">
              <i class="fa fa-save"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>