<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div *ngIf="product" class="col-6 offset-3 bg-light">
          <button [routerLink]="'/product-list'" class="btn btn-info btn-block btn-lg mt-3">
            <i class="fa fa-arrow-circle-left"></i>
          </button>
          <h1 class="h2 text-center text-primary pt-3">{{ title }}</h1>
          <label>{{'#'+ product.id}}</label>
          <form #productForm="ngForm" (ngSubmit)="onUpdate(productForm, product)">
            <div class="form-group my-3">
              <label for="name">Name</label>
              <input name="name" [(ngModel)]="product.name" type="text" class="form-control" pattern=".{5,35}" required>
              <div [hidden]="productForm.controls.name?.valid || productForm.controls.name.pristine" class="error-message">
                It must consist of at least 5 characters and up to 35 characters.
              </div>
            </div>
            <div class="form-group my-3">
              <label for="type">Type</label>
              <input name="type" [(ngModel)]="product.type" type="text" class="form-control" pattern=".{5,25}" required>
              <div [hidden]="productForm.controls.type?.valid || productForm.controls.type.pristine" class="error-message">
                It must consist of at least 5 characters and no more than 25 characters.
              </div>
            </div>
            <div class="form-group my-3">
              <label for="catid">Category</label>
              <select name="catid" [(ngModel)]="product.catID" class="custom-select" required>
                <option value="1">documentary</option>
                <option value="2">comedy</option>
                <option value="3">adventure</option>
              </select>
            </div>
            <div class="form-group my-3">
              <label for="description">Description</label>
              <textarea class="form-control" name="description" [(ngModel)]="product.description" cols="60" rows="2"
                pattern=".{5,100}" required>
              </textarea>
              <div [hidden]="productForm.controls.description?.valid || productForm.controls.description.pristine" class="error-message">
                It must consist of at least 5 characters and up to 100 characters.
              </div>
            </div>
            <div class="form-group my-3">
              <label for="price">Price</label>
              <input name="price" [(ngModel)]="product.price" type="text" class="form-control" pattern="^[1-9][0-9]{0,}"
                required>
              <div [hidden]="productForm.controls.price?.valid || productForm.controls.price.pristine" class="error-message">
                It can only contain numbers, the number cannot start with zero.
              </div>
            </div>
            <div class="form-group my-3">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" name="featured" [(ngModel)]="product.featured" class="custom-control-input"
                  id="featured">
                <label class="custom-control-label" for="featured">Featured</label>
              </div>
            </div>
            <div class="form-group my-3">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" name="active" [(ngModel)]="product.active" class="custom-control-input"
                  id="active">
                <label class="custom-control-label" for="active">Active</label>
              </div>
            </div>
            <button [disabled]="productForm.invalid" type="submit" class="btn btn-primary btn-block btn-lg mt-5">
              <i class="fa fa-save"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>