<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
          <div class="">
            <div class="">
              <button class="btn btn-large btn-success btn-block" [routerLink]="'/customer-list/edit-customer/0'">
                <i class="fa fa-plus"></i>
              </button>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr class="bg-dark text-light" cdkDropList cdkDropListOrientation="horizontal"
                      (cdkDropListDropped)="drop($event)">
                      <th *ngFor="let col of displayedColumns" class="p-1">
                        <div cdkDrag (click)="onColumnSelect(col.name)"
                          class="columnName d-flex no-wrap justify-content-center align-items-center text-center p-1">
                          <i *ngIf="col.sortDir" class="pr-1" [ngClass]="{ up: 'fa fa-arrow-circle-up',
                                            down: 'fa fa-arrow-circle-down',
                                            none: '' }
                                            [col.sortDir]">
                          </i>
                          {{col.title}}
                        </div>
                        <input type="text" class="form-control text-center text-white" placeholder="Search"
                          (keyup)="onSearchPhrase($event, col.name)">
  
                      </th>
                      <th class="bg-dark text-light text-center p-1">Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let customer of customers | search:phraseString:lastSelectedColumn | sort:lastSelectedColumn:sortDir">
                      <td *ngFor="let col of displayedColumns" class="text-center"> {{customer[col.name]}} </td>
                      <td class="d-flex justify-content-center">
                        <div class="btn-group">
                          <button [routerLink]="'/customer-list/edit-customer/' + customer.id" class="btn btn-info">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button (click)="onDelete(customer)" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr class="bg-dark text-light text-center">
                      <td *ngFor="let col of displayedColumns" class="text-center">
                        <span *ngIf="col.footer"> {{ customers | sum:col.name:phraseString:lastSelectedColumn }}</span>
                      </td>
                      <td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>