<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <app-info-card [icon]="'thumb_up'" [cardClass]="'card-header-warning'"
                    [title]="'Active products number'" [content]="activeProductsCount" [footer]="'Now'">
                </app-info-card>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <app-info-card [icon]="'group'" [cardClass]="'card-header-success'"
                    [title]="'Active products number'" [content]="activeCustomerCount" [footer]="'Now'">
                </app-info-card>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <app-info-card [icon]="'priority_high'" [cardClass]="'card-header-danger'"
                    [title]="'Number of orders not yet paid.'" [content]="newOrdersCount"
                    [footer]="'Now'">
                </app-info-card>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <app-info-card [icon]="'thumb_down'" [cardClass]="'card-header-danger'"
                    [title]="'Amount of unpaid invoices'" [content]="newBillsSum |
                    currency:'HUF':'symbol':'4.0'" [footer]="'Now'">
                </app-info-card>
            </div>
        </div>
    </div>
</div>